*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e9e035;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#2e98a4);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #fff);
}

header {
    display: flex;
    justify-content: flex-start; /* Adjust if necessary, e.g., center */
    align-items: center; /* Vertically centers the logo and nav */
    padding: 20px;
    background-color: black;
    height: 100px; /* Set a fixed height for the header */
    box-sizing: border-box; /* Include padding in the height calculation */
}

header .logo {
    width: 200px;
    height: auto;
}

button, .nav-button {
    --glow-color: rgb(249, 249, 249);
    --enhanced-glow-color: rgb(63, 63, 190);
    --btn-color: rgb(0, 40, 125);
    border: .25em solid var(--glow-color);
    padding: 0.5em 1.5em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.3em .1em var(--glow-color),
                0 0 1em 0.1em var(--enhanced-glow-color),
                inset 0 0 .3em .1em var(--glow-color);
    text-shadow: 0 0 .15em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

button::after, .nav-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--enhanced-glow-color);
    filter: blur(1em);
    opacity: .5;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover, .nav-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 0.3em .1em var(--glow-color),
                0 0 1em 0.5em var(--enhanced-glow-color),
                inset 0 0 .3em .1em var(--glow-color);
}

button:active, .nav-button:active {
    box-shadow: 0 0 0.2em .05em var(--glow-color),
                0 0 .75em 0.5em var(--enhanced-glow-color),
                inset 0 0 .2em .05em var(--glow-color);
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    margin: 0 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1em;
}

.references {
    font-family: 'Playwrite HR', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 50px;
}

.logo-grid img {
    width: 350px;  /* Adjust the size as needed */
    height: auto;
    object-fit: contain;
}

.logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.tools-used {
    font-family: 'Playwrite HR', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    margin: 50px 0;
    margin-top: 50px;
}

.center-image {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.center-image img {
    max-width: 100%;
    height: 150px;
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
}

footer .copyright {
    flex: 1;
    text-align: left;
    padding: 10px 20px;
}

footer .social {
    flex: 1;
    text-align: right;
    padding: 10px 20px;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    footer .copyright, footer .social {
        text-align: center;
        padding: 10px 0;
    }

    footer .social a {
        display: block;
        margin: 5px 0;
    }
}